* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Alegreya Sans SC', sans-serif;
}

body {
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
}

header {
    font-size: 2rem;
    color: white;
}

header,
form {
    min-height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

form input,
form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}

form input {
    border-top-left-radius: 1em 5em;
    border-bottom-left-radius: 1em 5em;
}

form button {
    color: rgb(48, 62, 143);
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
    border-top-right-radius: 1em 5em;
    border-bottom-right-radius: 1em 5em;
}

form button:hover {
    background: rgb(48, 62, 143);
    color: white;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 30%;
    list-style: none;
}

.todo {
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
    border-top-left-radius: 1em 5em;
    border-bottom-left-radius: 1em 5em;
    border-top-right-radius: 1em 5em;
    border-bottom-right-radius: 1em 5em;
}

.todo li {
    flex: 1;
}

.check,
.trash {
    border: none;
    background: rgb(48, 62, 143);
    color: white;
    padding: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
}

.check {
    background: rgb(30, 204, 30);
}

.trash {
    border-top-right-radius: 1em 5em;
    border-bottom-right-radius: 1em 5em;
}

.fa-trash,
.fa-square-check {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.fall {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}

.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
    border-top-left-radius: 1em 5em;
    border-bottom-left-radius: 1em 5em;
    border-top-right-radius: 1em 5em;
    border-bottom-right-radius: 1em 5em;
}

select {
    color: rgb(48, 62, 143);
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
}

.select::after {
    content: "\2B9F";
    color: white;
    position: absolute;
    background: rgb(48, 62, 143);
    top: 0%;
    right: 0%;
    padding: 1rem;
    pointer-events: none;
}

.select:hover::after {
    background: white;
    color: rgb(48, 62, 143);
}